<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    
    {{>navbar}}
    {{!-- main header --}}
    <div class="container-fluid main_header" >
        <div class="row" >
            <div class="col-md-10 col-12 mx-auto">
           <div class="row">
                <!-- left side div -->
                <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    <img src="images/about.png" alt="abk" class="img-fluid" title="abk technical">
                </figure>
            </div>
               <div class="col-md-6 col-12 main_header_left">
           <p>Welccome to the weather app</p>
           <h1>Get the latest <span class="text_clr"> Weather</span>  info of your city</h1>
           <a href="/weather"><button>About Us </button></a>
               </div>
                <!-- right side div -->
                <!-- <div class="col-md-6 col-12 main_header_right"></div>
                <figure>
                    <img src="images/about.png" alt="thapa" class="img-fluid" title="thapa technical">
                </figure> -->
       
            </div>
        </div>
    </div>
        
    </div>
              <!-- footer code   -->
    {{!-- <footer>
        <p>Created with 💖</p>
    </footer> --}}
    {{>footer}}
</body>
</html>